body{
  background-image:url("https://images.unsplash.com/photo-1467810160588-c86c0deb5d16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80")
}
a.nav-link {
    font-family: ui-rounded;
      color: whitesmoke;}
img.img-fluid.rounded-start {
}
.rounded-start {
    border-bottom-left-radius: 50%!important;
    border-top-left-radius: 50%!important;
    border-top-right-radius: 50%!important;
    border-bottom-right-radius: 50%!important;
} 
i.fa-brands.fa-github-square {
    color: darkslateblue;
    font-size: x-large;
}
i.fa-brands.fa-instagram-square {
    color: darkslateblue;
    font-size: x-large;
}
i.fa-brands.fa-linkedin {
    color: navy;
    font-size: x-large;
}
